body {
    display: flex;
    justify-content: center;
    align-items: center;


    height: 100vh;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 5px solid white;
    box-shadow: 0px 2px 10px black;
    border-radius: 7px;
}

button {
    text-align: center;
    width: 160px;
    height: 34px;
    border: none;
    border-radius: 5px;
    transition: 0.30s;
    position: relative;
    top: 150px;
    right: 405px;
}

button:hover {
    background-color: lime;
    color: black;
}
